.Rproj.user
.Rhistory
.RData
.Ruserdata


assignments/data/*

assignments/output/01-blast/blastdb/*
assignments/output/03-explain-and-knit/blastdb/*
assignments/output/05-alignment-data/*.ht2
assignments/output/05-alignment-data/*.sam
assignments/output/05-alignment-data/*.bam


project/data/bismark-methyl-extraction/*.bismark.cov.gz
project/data/trimmed-WGBS-reads/*

project/code/*_cache

